# Node modules
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# VSCode settings
.vscode/

# Optional npm cache directory
.npm/

# dotenv environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db
